/*.col-12  {
	padding-right: 0;
	padding-left: 0;
}*/
.information-university {
	background: #f5f5f5;
	height: 100%;
}

.header-information {
	background: white;
}

.about, .events, .members {
	padding-top: 35px;
	cursor: pointer;
	font-size: 14px;
}

.information-holder #active {
	color: #00BAB6 !important;
	border-bottom: 3px solid #00BAB6;
}

.information-holder {
	font-weight: 600;
	color: #c2c2c2;
}

.inner-div {
	background: white;
}

.university-location {
	padding: 15px;
	border-bottom: 1px solid #eeeeee;
}

.university-location .text-holder h3 {
	font-size: 12px;
	font-weight: bold;
	color: #a5a5a5;
	font-family: 'Arial';
}

.inner-div-location-text .get-directions {
	text-align: left;
	padding: 15px;
}

.get-directions h3, .get-directions i {
	color: #55BAB7;
	font-size: 12px;
}

.get-directions h3 {
	margin-bottom: 0;
}

.map-image {
	height: 170px;
}

.map-image img {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 767.98px){
	.container-2 .title, .location-details .title {
		padding-top: 35px;
	}
}

/*--------------------------------------------------------------------------*/
.about-info, .events-info, .members-info {
	padding: 50px 0;
}

.about-info .row, .events-info .row, .members-info .row {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.about-info .title, .events-info .title, .members-info .title {
	font-family: 'Tungsten';
	text-align: left;
}

.upcoming-events {
	padding-top: 50px;
}

.events-info .upcoming-events {
	width: 100%;
	padding-top: 0;
}

.about-info .title .h4, .events-info .title .h4, .members-info .title .h4 {
	font-family: 'Helvetica' !important;
	font-size: 14px;
	color: #b5b5b5;
	letter-spacing: 1px;
	text-align: left;
}
/*---------------------------------------------------------------------------*/
.table-top {
	margin-left: 30px;
}
.table-top h4 {
	font-size: 14px;
	color: #858585;
	font-weight: bold;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	padding: 10px;
	margin-bottom: 0;
}

.location-details {
	margin-top: 30px;
}
/**/
/**/