.single-event {
	height: 60px;
	background: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
	flex-direction: row;
	padding: 7px 10px;
	margin-bottom: 10px;
}

.yellow-border-left {
	border-left: 3px solid #D2DB00;
}

.cyan-border-left {
	border-left: 3px solid #00BAB6;
}

.grey-border-left {
	border-left: 3px solid #A5B2BB;
}

.yellow-border {
	color: #D2DB00 !important;
	border: 2px solid #D2DB00;
}

.cyan-border {
	color: #00BAB6 !important;
	border: 2px solid #00BAB6;
}

.grey-border {
	color: #A5B2BB !important;
	border: 2px solid #A5B2BB;
}

.event-image {
	flex: 1;
	align-items: center;
}

.event-details {
	flex: 4;
	align-items: center;
}

.event-details h4, .event-dates h4 {
	font-family: 'Arial' !important;
	color: black !important;
	font-weight: bold !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	letter-spacing: 0.3px !important;
}

.event-details p {
	font-family: 'Arial';
	font-size: 10px;
	letter-spacing: 0.3px;
	color: #858585;
	margin-bottom: 0;
}

.event-dates {
	flex: 3;
	align-items: center;
}

.event-status {
	flex: 4;
	align-items: center;
	justify-content: center;
}

.event-status .border-color{
	border-radius: 3px;
	width: 100%;
	justify-content: center;
}

.event-status .border-color h4 {
	font-family: 'Arial' !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	padding: 6px;
}

@media only screen and (max-width: 767.98px){
	.single-event-sm {
		height: 200px;
		background: white;
		padding: 10px;
	}

	.col-8, .col-4 {
		padding-right: 0;
		padding-left: 0;
	}

	.event-status-sm {
		margin-top: 2px;
	}


	.bordering{
		border-radius: 5px;
		padding: 0 5px;
	}

	.border-color-sm h4 {
		font-family: 'Arial' !important;
		margin-bottom: 0 !important;
		font-size: 14px !important;
		padding: 6px;
		font-weight: bold !important;
	}

	.university-name {
		margin-top: 3px;
	}

	.university-name h4 {
		font-family: 'Arial';
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 14px;
		color: #858585;
		letter-spacing: 0.3px;
	}

	.university-details-sm h4{
		letter-spacing: 0.5px;
		font-weight: 600;
	}

	.university-details-sm p {
		font-family: 'Arial';
		color: #858585;
		font-weight: bold;
		font-size: 16px;
	}

	.date-holder {
		padding: 10px;
		border-left: 1px solid #c5c5c5;
	}

	.date-holder p{
		font-family: 'Arial';
		color: #858585;
		font-weight: bold;
		margin-bottom: 0;
	}
}