.single-member {
	height: 70px;
	background: white;
	margin-bottom: 10px;
	padding: 7px 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
	border-radius: 3px;
}

.cyan-border-left {
	border-left: 3px solid #00BAB6;
}

.player-name {
	flex: 5;
}

.player-rating {
	flex: 2;
}

.joining-date {
	flex: 2;
}

.status {
	flex: 2;
}

.player-name {
	padding: 10px;
}
.player-name h4, .status h4, .player-rating h4 {
	font-family: 'Arial' !important;
	color: black !important;
	font-weight: bold !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	letter-spacing: 0.3px !important;
	text-align: left;
}

.player-name p, .player-rating p {
	font-family: 'Arial';
	font-size: 12px;
	letter-spacing: 0.7px;
	color: #858585;
	margin-bottom: 0;
	text-align: left;
}

.joining-date h4 {
	font-family: 'Arial';
	color: rgba(0, 0, 0, 0.92);
	margin-bottom: 0;
	font-size: 14px;
	letter-spacing: 0.3px;
}
.player-rating h4 {
	margin-right: 5px;
}